.builder {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font: var(--type-header);
}

.menuList {
  display: flex;
  flex-direction: column;
}