.page {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-content);
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-lg);
}