.page {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-content);
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}